*{
margin: 0;
box-sizing: border-box;
}

/* Intestazione */

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.intestazione{
  background-color: #4181c0;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
  position: relative;
}

.logo{
  width: 40px;
}

h1{
  display: inline-block;
  color: #fff;
}

/* Accedi e Carrello */
.side{
  position:absolute;
  right: 5%;
  top:40%;
  color: #fff;
  font-size: 20px;
}

.side img{
  width: 25px;
  vertical-align: middle;
  margin-right: 4px;
}

.login, .cart{
  display: inline-block;
  cursor: pointer;
}

.login{
  margin-right: 17px;
}

/* Searchbar */
.searchbar{
  background-color: #004080;
}

.searchbar input{
  border: 1px solid #000;
  border-radius: 4px;
  margin: 15px 10px 15px 50px;
  padding: 4px 30px 4px 3px;
}

.searchbar button{
  display: inline-block;
  width: 28px;
  height: 22px;
  border: 1px solid #000;
  border-radius: 4px;
}

.searchbar button img{
  width: 13px;
}

/* Menù */
.menu{
  background-color: #104160;
  padding: 13px 0px 13px 20px;
}

.menu a{
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  cursor: pointer;
  font-size: 18px;
  border-right: 1px solid #fff;
}

.menu a:last-child{
  border: 0px;
}

.menu a:hover{
  text-decoration: underline;
}

/* Corpo pagina */
main{
  background-color: #ededed;
  margin-top: 180px;
}

 /* breadcrumbs */
.path{
  padding: 10px 0px 10px 20px;
}

.path a{
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.path a:hover{
  text-decoration: underline;
}

/* Results */
.results{
  font-size: 30px;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #004080;
}

.results span{
  font-size: 17px;
  font-style: italic;
  margin-left: 6px;
}

/* Immagini */
.row{
  text-align: center;
}

.row1{
  top: 50px;
}


.row img[src*="tel"]{
  width: 300px;
  height: 350px;
  margin: 30px 20px;
  border: 2px solid #666;
}

.telefono{
  position: relative;
  display: inline-block;
}

[src*="addcart"]{
  width: 20px;
  height: 20px;
  border: 0px;
  display: inline-block;
  position: absolute;
  bottom: 20%;
  left: 30%;
  display: none;
  cursor: pointer;
}

.heart{
  position: absolute;
  bottom: 20%;
  right: 30%;
  display: none;
  cursor: pointer;
}

.sconto{
  position: absolute;
  right: 20px;
  top: 30px;
  background-color: #00a000;
  color: #fff;
  font-style: italic;
  width: 75px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border-bottom-left-radius: 18px;
}

.sconto.small{
  background-color: rgb(0, 150, 200);
}

/* hover */
.telefono:hover [src*="addcart"]{
  display: block;
  background-color: #ededed;
  border-radius: 10px;
  padding: 3px;
  box-sizing: content-box;
}

.telefono:hover .heart{
  display: block;
  background-color: #ededed;
  border-radius: 10px;
  padding: 2px 6px;
  box-sizing: content-box;
}

.heart:hover{
  color: red;
}

.telefono [src*="addcart"]:hover{
  background-color: orange;
}

/* Fondo pagina */
footer{
  background-color: #004080;
  text-align: center;
  padding-bottom: 25px;
  color: #fff;
}

.newsletter{
  background-color: #4181c0;
  padding-top: 25px;
  margin-bottom: 15px;
  font-size: 16px;
}

.newsletter input{
  border: 1px solid #000;
  border-radius: 4px;
  margin: 8px 0px 20px 0px;
  padding: 4px 30px 4px 3px;
}

.newsletter [type="submit"]{
  padding: 3px;
  border: 1px solid #000;
  border-radius: 4px;
}

.contact{
  font-size: 13px;
}
